.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: transparent;
  border: none;
  width: 15px;
  height: 15px;
  float: right;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.button:before,
.button:after {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 1px;
  background-color: black;
}

.button:before {
  transform: rotate(45deg);
}

.button:after {
  transform: rotate(-45deg);
}
